:root {
  --link-color: rgb(197, 56, 197);
  --link-color-hover: rgb(240, 145, 240);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color .3s ease-in;
}

a:hover {
  color: var(--link-color-hover);
}

.link-to-resume {
  position: relative;
  align-self: flex-end;
  padding-left: 26px;
  transition: border-color .3s ease-in;
}

.link-to-resume::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-bottom: 1px solid var(--link-color);
}

.link-to-resume::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-top: 1px solid var(--link-color);
  border-left: 1px solid var(--link-color);
  transform: rotate(-45deg);
}

.link-to-resume:hover::before,
.link-to-resume:hover::after {
  border-color: var(--link-color-hover);
}

.slider {
  padding-top: 30px;
}

.slider-container {
  margin: 30px auto;
  max-width: 800px;
}

.slider,
.slider__img-container {
  display: flex;
  justify-content: center;
}

.slider__img-container {
  width: 300px;
  flex-wrap: wrap;
}

.slider__img {
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.slider__img.big {
  order: 0!important;
  display: block;
  width: 300px;
  height: 300px;
  cursor: unset;
}

.slider__left-arrow, 
.slider__right-arrow {
  padding-top: 389px;
  width: 22px;
  height: 22px;
  background: center center no-repeat transparent;
  background-size: 14px;
  cursor: pointer;
}

.slider__left-arrow {
  margin-right: 53px;
  background-image: url('/images/left-arrow.svg');
}

.slider__right-arrow {
  margin-left: 53px;
  background-image: url('/images/right-arrow.svg');
}


@media (max-width: 500px) {
  .slider__left-arrow,
  .slider__right-arrow {
    padding-top: 205px;
  }

  .slider__left-arrow {
    margin-right: 13px;
  }

  .slider__right-arrow {
    margin-left: 13px;
  }

  .slider__img-container {
    width: 250px;
    flex-wrap: wrap;
  }

  .slider__img {
    display: none;
  }

  .slider__img.big {
    display: block;
    height: 250px;
    width: 250px;
  }
}